.navpie{
    position: absolute;
    width: 100%;
    height: 100px;
    
    top: 360px;
    
    background: rgba(71, 64, 50, 0.21);
    display: flex;
    
    align-items: center;
    padding-left: 20%;

}

.Linkpie{
   padding-right: 10%;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 72px;

    text-decoration: none;
}